:root {
    --font-color:aliceblue;
    --dark: rgb(32, 30, 30);
    --nav: rgba(32, 30, 30, 0.915);
    --font-fam: Arial, Helvetica, sans-serif;
    --impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--dark);
    color: var(--font-color);
    font-weight: bold;
    font-size: 20px;
    display: relative;
}

h2 {
    font-size: 38px;
    font-family: var(--impact); 
}

header {
    width: 100%;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    background-color: var(--dark);
    text-align: end;
}

nav ul {
    position:relative;
    right: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--font-color);
    font-size: 20px;
    padding: 7px;
    font-family: var(--font-fam);
    text-decoration: none;
}

figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(./images/san-diego-cityscape-night-reflections-city-lights-3840x2400-6107.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    min-width: 400px;
    justify-content: space-between;
}

figure div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

figure img {
    display: block;
    margin: 5% auto;
    border-radius: 100%;
    height: 400px;
    width: 400px;
}

figure div h2 {
    text-align: left;
    margin-top: 5%;
    display: block;
    padding: 3%;
    width: 100%;
    height: fit-content;
}

figure p {
    display: block;
    text-align: left;
    width: 400px;
    height: fit-content;
    margin-bottom: 70%; 
}

main {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main h2 {
    text-align: center;
    padding: 25px;
    max-height: 200px;
    width: 100%;
}

main div {
    display: flex;
    flex-direction: column;
    padding: 2%;

}

main div img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
}

main div h3 {
    margin: 7px auto;
    padding-bottom: 20px;
}

h3 {
    font-size: 28px;
    font-family: var(--impact);
}

footer h3 {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-fam);
}

#Contact {
    padding: 2%;
}

#Contact h3 {
    padding: 1%;
    margin-bottom: 10px;
}

#Contact ul li {
    margin: 5px;
}

#Contact ul li a {
    text-decoration: none;
    color: var(--font-color);
}